
@media(min-width:1400px){
    .col-xxl-1{
        width:8.33%;
    }
    .col-xxl-2{
        width:16.66%;
    }
    .col-xxl-3{
        width:25%;
    }
    .col-xxl-4{
        width:33.33%;
    }
    .col-xxl-5{
        width:41.66%;
    }
    .col-xxl-6{
        width:50%;
    }
    .col-xxl-7{
        width:58.33%;
    }
    .col-xxl-8{
        width:66.66%;
    }
    .col-xxl-9{
        width:75%;
    }
    .col-xxl-10{
        width:83.33%;
    }
    .col-xxl-11{
        width:91.66%;
    }
    .col-xxl-12{
        width:100%;
    }
    .d-xxl-flex{
        display: flex;
    }
    .d-xxl-none{
        display: none;
    }
}

@media(max-width:1399px){
    .col-xl-1{
        width:8.33%;
    }
    .col-xl-2{
        width:16.66%;
    }
    .col-xl-3{
        width:25%;
    }
    .col-xl-4{
        width:33.33%;
    }
    .col-xl-5{
        width:41.66%;
    }
    .col-xl-6{
        width:50%;
    }
    .col-xl-7{
        width:58.33%;
    }
    .col-xl-8{
        width:66.66%;
    }
    .col-xl-9{
        width:75%;
    }
    .col-xl-10{
        width:83.33%;
    }
    .col-xl-11{
        width:91.66%;
    }
    .col-xl-12{
        width:100%;
    }
    .d-xl-flex{
        display: flex;
    }
    .d-xl-none{
        display: none;
    }
}

@media(max-width:1199px){
    .col-lg-1{
        width:8.33%;
    }
    .col-lg-2{
        width:16.66%;
    }
    .col-lg-3{
        width:25%;
    }
    .col-lg-4{
        width:33.33%;
    }
    .col-lg-5{
        width:41.66%;
    }
    .col-lg-6{
        width:50%;
    }
    .col-lg-7{
        width:58.33%;
    }
    .col-lg-8{
        width:66.66%;
    }
    .col-lg-9{
        width:75%;
    }
    .col-lg-10{
        width:83.33%;
    }
    .col-lg-11{
        width:91.66%;
    }
    .col-lg-12{
        width:100%;
    }
    .d-lg-flex{
        display: flex;
    }
    .d-lg-none{
        display: none;
    }
    .gallary .gallary-img1 img{
        width: 218px;
    }
    .gallary .gallary-img img{
        width: 218px;
    }
    .team .team-content .content-img img,.content-img1 img{
        width:217px;
    }
    .tag img{
        width:162px;
    }
}

@media(max-width:991px){
    .col-md-1{
        width:8.33%;
    }
    .col-md-2{
        width:16.66%;
    }
    .col-md-3{
        width:25%;
    }
    .col-md-4{
        width:33.33%;
    }
    .col-md-5{
        width:41.66%;
    }
    .col-md-6{
        width:50%;
    }
    .col-md-7{
        width:58.33%;
    }
    .col-md-8{
        width:66.66%;
    }
    .col-md-9{
        width:75%;
    }
    .col-md-10{
        width:83.33%;
    }
    .col-md-11{
        width:91.66%;
    }
    .col-md-12{
        width:100%;
    }
    .d-md-flex{
        display: flex;
    }
    .d-md-none{
        display: none;
    }
    .gallary .gallary-img1 img{
        width: 218px;
    }
    .gallary .gallary-img img{
        width: 218px;
    }
    .gallary .g-img img{
        width:340px;  
    }
    .tag img{
        width:167px;
    }
    .about-us .us-img img{
        padding-top: 20px;
    }
    
}

@media(max-width:768px){
    .col-sm-1{
        width:8.33%;
    }
    .col-sm-2{
        width:16.66%;
    }
    .col-sm-3{
        width:25%;
    }
    .col-sm-4{
        width:33.33%;
    }
    .col-sm-5{
        width:41.66%;
    }
    .col-sm-6{
        width:50%;
    }
    .col-sm-7{
        width:58.33%;
    }
    .col-sm-8{
        width:66.66%;
    }
    .col-sm-9{
        width:75%;
    }
    .col-sm-10{
        width:83.33%;
    }
    .col-sm-11{
        width:91.66%;
    }
    .col-sm-12{
        width:100%;
    }
    .d-sm-flex{
        display: flex;
    }
    .d-sm-none{
        display: none;
    }
    .sm-align-items{
        align-items: center;
    }
    .gallary .g-img img{
        width:340px; 
        margin-top:20px;
    }
    .foot-layout .f-content{
        margin:20px 0;
    }
    .foot-layout .email input{
       
        width:100%;
       
    }
    .team .team-img img {
        object-fit: cover;
    }
    .about-us .us-img img{
        padding-top: 20px;
    }
}

@media(max-width:575px){
    .col-1{
        width:8.33%;
    }
    .col-2{
        width:16.66%;
    }
    .col-3{
        width:25%;
    }
    .col-4{
        width:33.33%;
    }
    .col-5{
        width:41.66%;
    }
    .col-6{
        width:50%;
    }
    .col-7{
        width:58.33%;
    }
    .col-8{
        width:66.66%;
    }
    .col-9{
        width:75%;
    }
    .col-10{
        width:83.33%;
    }
    .col-11{
        width:91.66%;
    }
    .col-12{
        width:100%;
    }    
.menu-bar {
	display: flex;
}
.foot-layout .f-content{
	margin:20px 0;
}

}
