*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	outline:none;
}
ul,ol,li{
	list-style:none;
}
a{
	text-decoration:none;
	color:var-(--black-color);
}
img{
	display:block;
	width:100%;
}
body{
	overflow-x:hidden;
}
.flex{
	display:flex;	
}
.wrap{
	flex-wrap:wrap;
}
:root{
	--black-color:#000000;
	--white-color:#ffffff;
	--white-300:#FAFAFA;
	--white-500:#EFEFEF;
	--white-800:#e1e2e2;
	--primary-color:#dc8275;
	--black-200:#efefef;
	--black-500:#768492;
	--secondary-color:#676767;
	--main-heading: 'Teko';
	--description:'Open Sans';
	--fs-14:14px;
	--fs-16:16px;
	--fs-28:28px;
	--fs-20:20px;
	--fs-30:30px;
	--fs-26:26px;
	--fs-15:15px;
	--fs-40:40px;
	--fs-18:18px;
	--fs-24:24px;
	--fs-90:90px;
	--fs-60:60px;
	--fs-12:12px;
	--padding-left:20px;
	--padding-right:20px;
}
.col-1{
	width:8.33%;
}
.col-2{
	width:16.66%;
}
.col-3{
	width:25%;
}
.col-4{
	width:33.33%;
}
.col-5{
	width:41.66%;
}
.col-6{
	width:50%;
}
.col-7{
	width:58.33%;
}
.col-8{
	width:66.66%;
}
.col-9{
	width:75%;
}
.col-10{
	width:83.33%;
}
.col-11{
	width:91.66%;
}
.col-12{
	width:100%;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
	padding-left:var(--padding-left);
	padding-right:var(--padding-right);
}
.d-none{
	display: none;
}
.container{
	max-width:1320px;
	margin:0 auto;
	padding-left:var(--padding-left);
	padding-right:var(--padding-right);
}
.row{
	display:flex;
	flex-wrap:wrap;
	margin-left:calc(1 * var(--padding-left));
	margin-right:calc(1 * var(--padding-right));
}
.justify-content-between{
	justify-content:space-between;
}
.justify-content-center{
	justify-content:center;
}
.align-items-center{
	align-items:center;
}
.align-items-end{
	align-items:flex-end;
}
.justify-content-start{
	justify-content:flex-start;
}
.justify-content-end{
	justify-content:flex-end;
}
/* navigation start */
nav{
	background-color:var(--black-color);
	color:var(--white-color);
	padding:10px 10px;
}
nav .row .icon{
	display:inline-block;
}
nav .info span{
	margin:0 15px;
	font-size:var(--fs-14);
	font-family:var(--description);
}
nav .icon i{
	position:relative;
	padding:0 8px;
	color:var(--white-color);
	transition:all 0.5s;
}
nav .icon a:hover i{
	color:var(--primary-color);
	transform:scale(1.3);
	
}
nav button{
	padding:12px 0 12px 20px;
	background-color:transparent;
	box-sizing:border-box;
	font-family:var(--description);
	border:0;
	font-size:var(--fs-14);
	text-transform:uppercase;
	position:relative;
	border-left:0.5px solid var(--secondary-color);
}
nav button a{
	color:var(--primary-color);
	transition:all 0.5s;
}
nav button:hover a{
	color:var(--white-color); 
}
/* navigation end */
/* header start */
header{
	background-color:var(--black-color);
	z-index:999;
	padding: 20px;
	top: 0;
}
header .logo img{
	width:140px;
}
header .menu{
	display:flex;
}
header .menu ul li{
	padding:20px 20px;
	text-transform:uppercase;
	letter-spacing:1.5px;	
}
header .menu ul li a{
	color:var(--white-color);
	font-size:var(--fs-20);
	font-family:var(--main-hadding);
	transition:all 1s;
	font-size:var(--fs-20);
}
header .menu ul:first-child li a{
	color:var(--primary-color);
}
header .menu ul li a:hover{
	color:var(--primary-color);
}
header .cart i{
	color:white;
	padding:0 10px;
	font-size:var(--fs-20);
}
header .cart{
	padding-right:70px;
}
header .toggle i{
	color: var(--white-color);
}
/* drop-down start */
header .menu ul li .drop-down{
	position:absolute;
	background-color:var(--black-color);
	top:140px;
	opacity:0;
	visibility:hidden;
	transition:all 0.5s;
	width:220px;
}
header .menu ul li .drop-down ul li a{
	color:var(--white-color);
}
header .menu ul li .drop-down ul li .d-first{
	color:var(--primary-color);
	border-bottom:1px solid var(--primary-color);
}
header .menu ul li:hover .drop-down{
	opacity:1;
	visibility:visible;
	top:130px;
} 
header .menu ul li .drop-down ul li:hover a{
	color:var(--primary-color);
}
header .menu ul li .drop-down ul li{
	padding:5px 10px;
}
header .cart ul li .drop-down{
	color:var(--black-color);
	background-color:var(--white-color);
	position:absolute;
	top:140px;
	width:250px;
	right:226px;
	font-family:var(--main-hadding);
	text-align:center;
	font-size:var(--fs-20);
	opacity:0;
	visibility:hidden;
	transition:all 0.5s;
	transform:scaley(0);
}
header .cart ul li:hover .drop-down{
	visibility:visible;
	opacity:1;
	top:130px;
	transform:scaley(1);
}
header .cart ul li .drop-down ul li{
	padding:20px;
}
/* drop-down end */

/* header end */

/* slider bar start */
.banner{
	background-image:url('../img/slider-banner11.jpg');
	padding:150px 0;
	text-align:start;
	position:relative;
	background-color:rgba(0,0,0,0.6);
	background-blend-mode:darken;	
}
.banner span{
	color:var(--white-color);
	font-size:var(--fs-60);
	font-family:var(--main-hadding);
	text-transform:uppercase;
	text-align:start;
	line-height:90px;
}
.banner p{
	color:var(--white-color);
	font-size:var(--fs-20);
	font-family:var(--description);
	text-transform:capitalize;
	text-align:start;
}
.banner button{
	margin:20px 0;
	color:var(--white-color);
	text-transform:capitalize;
	padding:10px;
	border:0;
	background-color:var(--primary-color);
	text-align:start;
	font-size:var(--fs-18);
	transition:all 0.5s;
	overflow:hidden;
}
.banner button:hover{
	background-color:transparent;
	color:var(--white-color);
	border:1px solid var(--white-color);
	transform:scale(1.2);
	cursor:pointer;
	font-size:var(--fs-16);
}
.banner button i{
	padding:0 15px;
	font-size:var(--fs-18);
}
/* slider bar end */
/* about us start */
.about-us{
	padding:100px 0;
}
.about-us .us-content h2{
	color:var(--background-color);
	font-size:var(--fs-40);
	font-family:var(--main-heading);
}
.about-us .us-content .border{
	border:2px solid var(--primary-color);
	width:40px;
}
.about-us .us-content p{
	color:var(--background-color);
	font-size:var(--fs-16);
	font-family:var(--description);
	margin:20px 0 30px;
}
.about-us .us-content button{
	margin:20px 0;
	background-color:transparent;
	text-transform:capitalize;
	padding:15px;
	border:1px solid var(--primary-color);
	color:var(--black-color);
	text-align:start;
	font-size:var(--fs-18);
	transition:all 0.5s;
	font-family:var(--description);
}
.about-us .us-content button:hover{
	background-color:var(--primary-color);
	color:var(--white-color);
	transform:scale(1.2);
	cursor:pointer;
}
.about-us .us-content button i{
	padding:0 15px;
	font-size:var(--fs-18);
}
.about-us .us-img img{
	width:400px;
	border-radius:40px;
}

/* about us end */
/* what we do start */
.slider{
	background-color:var(--white-300);
}
.slider .slide-img img{
	height:800px;
	width:400px;
	object-fit:cover;
}
.slider .slide-content{
	padding: 20px;
}
.slider .slide-content h2{
	font-size:var(--fs-40);
	font-family:var(--main-heading);
}
.slider .slide-content .border{
	border:2px solid var(--primary-color);
	width:40px;
}
.slider .slide-content p{
	font-size:var(--fs-16);
	font-family:var(--description);
	margin-top:10px;
}
.slider .box{
	width:80%;
	margin:20px 0;
}
.slider .box .icon{
	padding:10px 10px;
	background-color:var(--primary-color);
	color:var(--white-color);
	border-radius:10px 0px 0px 10px;
	font-size:var(--fs-60);
	position:relative;
}
.slider .box .icon img{
	width:70px;
}
.slider .box .content{
	padding:25px 30px 20px;
	background-color:#F0F0F0;
	border-radius:0 10px 10px 0;
	position:relative;
}
.slider .box .content a{
	color:var(--black-color);
	font-family:var(--main-heading);
	font-size:var(--fs-30);
}
.slider .box .content p{
	color:var(--black-color);
	font-family:var(--description);
	font-size:var(--fs-16);
}
/* what we do end */
/* our schedual start */
.schedual-menu{
	padding:100px 0;
}
.schedual-menu img{
	width:300px;
	height:330px;
	left:-110px;
	position:absolute;
}
.schedual-menu .main-h h2,.main-o h2{
	font-family:var(--main-heading);
	font-size:var(--fs-40);
	margin:0 0 0 25px;
}
.schedual-menu .main-h .border1{
	border:2px solid var(--primary-color);
	width:40px;
	margin-bottom:50px;
	margin:0 0 50px 25px;
}
.schedual-menu .main-o .border1{
	border:2px solid var(--primary-color);
	width:40px;
	margin:0 0 50px 25px;
}
.schedual-menu .main-h .box{
	background-image:url('../img/pricing-banner1.jpg');
	padding:40px 75px 48px;
	background-color:rgba(0,0,0,0.5);
	background-blend-mode:darken;
	border-radius:10px;
	margin:0 0 0 25px;
}
.schedual-menu .box .list span,.timing span{
	color:var(--white-color);
	font-family:var(--main-heading);
	font-size:var(--fs-24);
}
.schedual-menu .box .border{
	border:1px solid var(--secondary-color);
	margin:20px 0 20px 0;
}
.schedual-menu .box1 .border{
	border:1px solid var(--secondary-color);
	margin:20px 0 20px 0;
}
.schedual-menu .box .p-content p,.p-content p{
	color:var(--white-color);
	font-family:var(--description);
	font-size:var(--fs-15);
	margin:0 0 10px;
}
.schedual-menu .main-o .box1{
	background-image:url('../img/el-2.jpg');
	background-color:rgba(0,0,0,0.5);
	background-blend-mode:darken;
	padding:46px 50px 60px;
	border-radius:10px;
	margin:0 0 0 25px;
}
.schedual-menu .main-o .timing .none span{
	background-color:var(--primary-color);
	color:var(--white-color);
	padding:5px 26px;
}
.schedual-menu .main-o .timing button{
	background-color:transparent;
	color:var(--white-color);
	padding:5px 26px;
	border:1px solid var(--secondary-color);
	transition:all 0.5s;
}
.schedual-menu .main-o .timing button:hover{
	border:1px solid var(--primary-color);
}
.schedual-menu .main-o h2{
	font-family:var(--main-heading);
	margin:0 0 0 25px;
}
.schedual-menu .main-o .t-icon{
	color:var(--white-color);
	font-family:var(--main-heading);
	font-size:var(--fs-24);
}
/* our schedual end */
/* offer promotion start */
.offer{
	background-image:url('../img/banner1.jpg');
	padding:100px 0;
	background-size:cover;
	background-position:center;
}
.offer .offer-promo h2{
	color:var(--white-color);
	font-family:var(--main-heading);
	font-size:var(--fs-40);
}
.offer .offer-promo p{
	color:var(--primary-color);
	font-family:var(--description);
	font-size:var(--fs-24);
	margin-bottom:25px;
}
.offer .offer-promo .promo-off p{
	color:var(--white-color);
	font-family:var(--description);
	font-size:var(--fs-16);
	margin-bottom:40px;
}
.offer .offer-promo span{
	color:var(--primary-color);
	font-family:var(--main-heading);
	font-size:var(--fs-40);
	margin:12px 30px 2px 0;
	display:inline-block;
}
.offer .offer-promo button{
	background-color:transparent;
	text-transform:capitalize;
	padding:15px;
	border:0;
	color:var(--white-color);
	text-align:start;
	font-size:var(--fs-16);
	font-family:var(--description);
	border:1px solid var(--secondary-color);
	transition:all 0.5s;
}
.offer .offer-promo button:hover{
	background-color:var(--primary-color);
	color:var(--white-color);
	transform:scale(1.2);
	cursor:pointer;
}
.offer .offer-promo button i{
	padding:0 15px;
	font-size:var(--fs-18);
}
/* offer promotion end */
/* gallary start */
.gallary{
	background-image:url('../img/element3.png');
	padding:100px 0;
}
.gallary .gallary-img img{
	width:260px;
	border-radius:20px;
	margin:0 0 20px 0;
}
.gallary .gallary-img1 img{
	width:260px;
	border-radius:20px;
	margin-left: 20px;
}

.gallary .gallary-content h2{
	font-family:var(--main-heading);
	font-size:var(--fs-40);
}
.gallary .gallary-content .border{
	border:2px solid var(--primary-color);
	width:40px;
	margin-bottom:30px;
}
.gallary .gallary-content p{
	font-family:var(--description);
	font-size:var(--fs-16);
	color:var(--black-color);
	margin-bottom:30px;
}
.gallary .gallary-content button{
	background-color:transparent;
	text-transform:capitalize;
	padding:10px;
	color:var(--black-color);
	font-size:var(--fs-16);
	border:1px solid var(--primary-color);
	font-family:var(--description);
	transition:all 0.5s;
}
.gallary .gallary-content button:hover{
	background-color:var(--primary-color);
	color:var(--white-color);
	transform:scale(1.2);
	cursor:pointer;
}
.gallary .gallary-content button i{
	padding:0 15px;
	font-size:var(--fs-18);
}
.gallary .g-img{
	overflow: hidden;
	padding-left: 20px;
	 
	
}
.gallary .g-img img{
	width:260px;
	height: 345px;
	border-radius: 20px;
	/* margin-right: 20px; */
}
/* gallary end */
/* our team start */
.team{
	padding-top:100px;
	background-color:var(--white-500);
}
.team .team-content h2{
	font-family:var(--main-heading);
	font-size:var(--fs-40);
}
.team .team-content .border{
	border:2px solid var(--primary-color);
	width:40px;
	margin-bottom:25px;
}
.team .team-content p{
	font-family:var(--description);
	font-size:var(--fs-16);
	margin-bottom:30px;
}
.team .team-content .content-img img,.content-img1 img{
	width:260px;
	padding:20px 15px 15px 0;
	border-radius:20px;
}
.team .team-content button{
	background-color:transparent;
	padding:10px;
	margin-top:30px;
	color:var(--black-color);
	font-size:var(--fs-16);
	border:1px solid var(--primary-color);
	font-family:var(--description);
	transition:all 0.5s;
}
.team .team-content button:hover{
	background-color:var(--primary-color);
	color:var(--white-color);
	transform:scale(1.2);
	cursor:pointer;
}
.team .team-content button i{
	padding:0 15px;
	font-size:var(--fs-18);
}
.team .team-img img{
	height:850px;
}
/* our team end */
/* clients day start */
.client{
	padding:100px 0;
}
.client .c-content h2{
	font-family:var(--main-heading);
	font-size:var(--fs-40);
}
.client .c-content .border{
	border:2px solid var(--primary-color);
	width:40px;
	margin-bottom:25px;
}
.client .c-content p{
	font-family:var(--description);
	font-size:var(--fs-16);
	margin-bottom:25px;
}
.client .box{
	/* margin:40px 25px 40px 0; */
	padding:50px;
	border:1px solid var(--primary-color);
	border-radius:20px;
}
.client .box .i-content i{
	color:var(--primary-color);
	font-size:var(--fs-90);
}
.client .box .b-content p{
	font-size:var(--fs-20);
	font-family:var(--description);
	font-style:italic;
	margin-bottom:35px;
	line-height:30px
}
.client .box .b-content h2{
	font-size:var(--fs-30);
	font-family:var(--main-heading);
}
.client .btn button{
	padding:12px 32px;
	background-color:transparent;
	font-family:var(--description);
	font-size:var(--fs-16);
	border:1px solid var(--primary-color);
	transition:all 0.5s;
}
.client .btn button:hover{
	background-color:var(--primary-color);
	color:var(--white-color);
	transform:scale(1.2);
	cursor:pointer;
}
.client .btn button i{
	padding:0 15px;
	font-size:var(--fs-16);
}
/* clients day end */
/* video start */
.video{
	padding:100px 0;
	background-image:url('../img/video-banner1.jpg');
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.video .v-content{
	text-align:center;
}
.video .v-content h2{
	color:var(--white-color);
	font-family:var(--main-heading);
	font-size:var(--fs-40);
	margin-top:30px;
}
.video .v-content p{
	color:var(--white-color);
	font-family:var(--description);
	font-size:var(--fs-16);
	line-height:30px;
	margin-top:20px;
}
.video .v-content i{
	color:var(--primary-color);
	background-color:var(--white-color);
	border-radius:50%;
	font-size:var(--fs-30);
	width:70px;
	height:70px;
	text-align:center;
	line-height:70px;
	transition:all 0.5s;
}
.video .v-content i:hover{
	cursor:pointer;
	background-color:transparent;
	border:1px solid var(--primary-color);
	transform:scale(1.2);
}
/* video end */

/* from our blog start */
.blog{
	padding:100px 0;
}
.blog .blog-content h2{
	font-family:var(--main-heading);
	font-size:var(--fs-40);
}
.blog .blog-content .border{
	border:2px solid var(--primary-color);
	width:40px;
	margin-bottom:25px;
}
.blog .blog-content p{
	font-family:var(--description);
	font-size:var(--fs-16);
	margin-bottom:40px;
}
.blog .btn button{
	background-color:transparent;
	padding:10px;
	margin-top:30px;
	color:var(--black-color);
	font-size:var(--fs-16);
	border:1px solid var(--primary-color);
	font-family:var(--description);
	transition:all 0.5s;
}
.blog .btn button:hover{
	background-color:var(--primary-color);
	color:var(--white-color);
	transform:scale(1.2);
	cursor:pointer;
}
.blog .btn button i{
	padding:0 15px;
	font-size:var(--fs-18);
}
.blog .img .box{
	padding:36px 40px 36px;
	border:1px solid var(--white-800);
}
.blog .img .b-1{
	overflow:hidden;
}
.blog .img .b-1 img{
	transition:all 1s;
}
.blog .img .b-1:hover img{
	transform:scale(1.1);
}
.blog .img .box .icon i{
	color:var(--primary-color);
	margin-right:10px;
}
.blog .img .box .icon p{
	color:var(--black-500);
	margin:0 10px 10px 0px;
	font-family:var(--description);
	font-size:var(--fs-15);	
}
.blog .img .box a{
	color:var(--black-color);
	font-family:var(--main-heading);
	font-size:var(--fs-30);
	transition:all 1s;
}
.blog .box:hover a{
	color:var(--primary-color);
}
.blog .b-box{
	border:1px solid var(--white-800);
	margin:0 0 32px 15px;
	border-radius:20px;
}
.blog .b-box .b-img{
	overflow:hidden;
}
.blog .b-box .b-img img{
	width:200px;
	transition:all 1s;
}
.blog .b-box .b-img:hover img{
	transform:scale(1.2);
}
.blog .b-box .boc{
	padding:35px 25px 23px 35px;
}
.blog .b-box .boc .b-content a{
	font-family:var(--main-heading);
	color:var(--black-color);
	font-size:var(--fs-26);
	transition:all 1s;
}
.blog .b-box .boc .b-content:hover a{
	color:var(--primary-color);
}
.blog .b-box .boc .b-icon i{
	color:var(--primary-color);
	margin-right:10px;
}
.blog .b-box .boc .b-icon p{
	color:var(--black-500);
	margin:0 10px 10px 0px;
	font-family:var(--description);
	font-size:var(--fs-15);	
}
/* from our blog end */

/* tage-line start */
.tag{
	padding:50px 0;
	background-color:var(--white-300);
}
.tag img{
	width:100px;
}
/* tage-line end */

/* footer start */
.foot-layout{
	padding:74px 0;
	background-image:url('../img/footer-banner1.jpg');
	background-color:rgba(0,0,0,0.5);
	background-blend-mode:darken;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}
.foot-layout .foot-start{
	padding-bottom:40px;
}
.foot-layout .foot-logo img{
	width:163px;
}
.foot-layout .f-content h2{
	color:var(--white-color);
	font-family:var(--description);
	font-size:var(--fs-26);
	margin-top:10px;
}
.foot-layout .f-content span{
	color:var(--white-color);
	font-family:var(--description);
	font-size:var(--fs-26);
}
.foot-layout .email input{
	height:60px;
	width:250px;
	font-size:var(--fs-20);
	padding:6px 20px;
}
.foot-layout .btn button{
	background-color:var(--white-color);
	width:100px;
	height:60px;
	padding:10px;
	margin:30px 0 0 0;
	border:0;
	color:var(--black-color);
	text-align:center;
	font-size:var(--fs-18);
	font-family:var(--description);
	font-weight:700;
	margin-right:0;
	transition:all 0.5s;
}
.foot-layout .btn button:hover{
	background-color:var(--primary-color);
	cursor:pointer;
	color:var(--white-color);
}
.border{
	border:1px solid var(--secondary-color	);
}
.foot-layout .foot-middle{
	padding:42px 0 35px;
}
.foot-layout .contact h2{
	color:var(--white-color);
	font-family:var(--main-heading);
	font-size:var(--fs-28);
	margin:0 0 25px;
}
.foot-layout .contact .f-icon li i{
	color:var(--primary-color);
	font-size:var(--fs-15);
	margin-right:10px;
}
.foot-layout .contact .f-icon li span{
	color:var(--white-color);
	font-size:var(--fs-15);
	font-family:var(--description);
}
.foot-layout .contact .f-icon li{
	margin-bottom:15px;
}
.foot-layout .contact .f-icon li a{
	color:var(--white-color);
	font-size:var(--fs-15);
	font-family:var(--description);
}
.foot-layout .b-service h2{
	color:var(--white-color);
	font-family:var(--main-heading);
	font-size:var(--fs-28);
	margin:0 0 25px;
}
.foot-layout .b-service .poster li i{
	color:var(--white-color);
	font-size:var(--fs-15);
	margin:5px 15px 0 0;
}
.foot-layout .b-service .poster li{
	margin-bottom:15px;
}
.foot-layout .b-service .poster li a{
	color:var(--white-color);
	font-size:var(--fs-15);
	font-family:var(--description);
	transition:all 1s;
}
.foot-layout .b-service .poster li:hover a{
	color:var(--primary-color);
}
.foot-layout .r-post .r-menu img{
	width:106px;
	margin-right:15px;
}
.foot-layout .r-post .r-menu{
	margin-bottom:30px;
}
.foot-layout .r-post h2{
	color:var(--white-color);
	font-family:var(--main-heading);
	font-size:var(--fs-28);
	margin:0 0 25px;
}
.foot-layout .r-post .r-content p{
	color:var(--primary-color);
	font-size:var(--fs-12);
	font-family:var(--description);
}
.foot-layout .r-post .r-content a{
	color:var(--white-color);
	font-size:var(--fs-15);
	font-family:var(--description);
}
.copy-right{
	padding:22px;
	border-top:2px solid var(--secondary-color);
}
.foot-layout .copy-right p{
	color:var(--white-color);
	text-align:center;
}
.foot-layout .copy-right a{
	color:var(--white-color);
	transition:all 1s;
}
.foot-layout .copy-right a:hover{
	color:var(--primary-color);
}
.t-button{
	display: none;
}
.t-button i{
	color:var(--primary-color);
	position:fixed;
	border:2px solid var(--white-color);
	width:50px;
	height:50px;
	border-radius:50%;
	background-color:transparent;
	text-align:center;
	line-height:40px;
	font-size:20px;
	right:60px;
	bottom:90px;
	transition:all 0.5s;
}
.t-button i:hover{
	background-color:var(--primary-color);
	transform:scale(1.2);
	color:var(--white-color);
}
/* footer end */
.loader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/loader1.jpg');
	background-position: center;
	background-size: cover;
	background-color: rgba(0,0,0,0.8);
	background-blend-mode: darken;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}
.load{
	width: 150px;
	height: 150px;
	animation: load 4s linear infinite;
}
@keyframes load {
	0% {
	  transform: skew(0deg);
	  border-radius: 0;
	}
	25%{
		transform: scale(1.6);
	}
	50%{
		transform: scale(1.5);
	}
	75%{
		transform: scale(1.4);
	}
	100% {
	  transform: skew(360deg);
	  border-radius: 0%;
	}
  }
.main-class{
	display: none;
}
.setting{
	width: 40px;
	height: 40px;
	position: fixed;
	top: 0;
	right: 10px;
	line-height:40px;
	background-color: #676767;
	text-align: center;
	font-size: 20px;
	z-index: 999;
}
.switch{
	width: 40px;
	height: 60px;
	position: fixed;
	top: 40px;
	right: 10px;
	background-color: #676767;
	text-align: center;
	font-size: 20px;
	z-index: 999;
	display: none;
}
.switch .sun, .moon{
	padding: 5px 0;
}
body.black{
	--black-color:#000000;
	--white-color:#ffffff;
	--white-300:#FAFAFA;
	--white-500:#EFEFEF;
	--white-800:#e1e2e2;
	--primary-color:#9f301f;
	--black-200:#efefef;
	--black-500:#768492;
	--secondary-color:#676767;
}
.owl-dots{
	display: none;
}
.owl-carousel .item2 .banner{
	background-image: url('../img/slider-banner2.jpg');
}
.owl-carousel .item3 .banner{
	background-image: url('../img/video-banner1.jpg');
}

.swiper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
  }

  .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 200px;
	height: 200px;
  }

  .swiper-slide img {
	display: block;
	width: 100%;
  }


  .cursor {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: ffff;
	border: 5px solid var(--primary-color);
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	mix-blend-mode: difference;
	transition: all 0.1s ease-out;
	pointer-events: none;
	z-index: 100000;
  }
  
  h2:hover + .cursor {
	transform: scale(15);
  }
  
section{
	padding: 100px 0;
}
section#counter-stats {
	display: flex;
	justify-content: center;

}

.stats {
  text-align: center;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.stats .fa {
  color:var(--primary-color);
  font-size: 60px;
}
section#counter-stats .stats p{
	margin: 20px;
}

#light {
	width: 100px;
	height: 50px;
	background-color: grey;
	opacity: 0.5;
  }
  #light.active  {
	color: black;
	opacity: 0.1;
  }

  

